*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
*.apk
*.aab
*.jks
*.keystore
keystore.jks
app/keystore.jks
google-services.json
app/google-services.json
.cxx
.system_generated
